.game {
  display: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bolder;
  display: flex;
  flex-direction: column;

  
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

.header {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.game-title {
  font-size: 1.5rem;
}

.header > p {
  font-size: 1rem;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.image-box {
  width: 45vw;
  height: 20rem;
  position: relative;
}

.game-image {
  min-width: 100%;
  max-height: 100%;
  border: 5px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  object-fit: cover;
  position: absolute;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.guess {
  font-size: 2rem;
}

.user-input {
  width: 80%;
  height: 2rem;
  font-weight: bolder;
  font-size: 1rem;
  color: white;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding: 2px 5px;
  outline: none;
}

.submit {
  height: 2rem;
  width: 8rem;
  background-color: inherit;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  margin: 1rem;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.25s;
}

.submit:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  height: 3rem;
  width: 10rem;
}

#tiles-div-easy-9 {
  width: 100%;
  /* height: 26.4rem; */
  height: 100%;
  background-color: transparent;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.tiles {
  width: 33.33%;
  background-color: #ff7e00;
  border: 2px solid greenyellow;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .header {
    margin: 0%;
    margin-bottom: 1rem;
  }

  main {
    flex-direction: row;
  }

  .game-image {
    width: 50%;
  }

  .game-title {
    font-size: 3rem;
  }

  .header > p {
    font-size: 1.5rem;
  }
}
